* {
    box-sizing: border-box;      
    
}

body {
    margin: 0 auto;
    background-color: white;
    height: 100vh;
}

.con{
    /* max-width: 1200px; */
    margin: 0 0;
    display: flex;
   
    /* padding: 0 10px; */
    /* height: 100%; */
    
}

.con ul{
    list-style-type: none;
    display: flex;
    justify-items:end;
    margin:36px 0px;
    margin-left: 50%;
    gap: 15px;
    height: 100%;
}

nav {
    margin:0;
    padding: 0;
    height: 100px;
   
    
}
p{
    margin: 0;
    padding: 0;
}

.nav--icon{
width: 128px;
height: 60px;
margin-left: 19px;
margin-top: 21px;

}
.options{
position: absolute;
margin:0;
display: flex;
padding: 10px 12px;
gap: 12px;
margin-top: 38px;
border-radius: nullpx;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
white-space: nowrap;
margin-left: 155px;
/* margin-right: auto; */

}

.login{
flex: 1;
/* position: absolute; */
width: 52px;
height: 25px;
margin-left: 76px;
/* margin-left: 70%; */
margin-top: 12px;
/* margin-right: 362px; */
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

/* text-align: center; */

color: #05034E;

}
.demo{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
/* gap: 10px; */
/* margin-right: 183px; */
/* position: absolute; */
width: 147px;
height: 45px;
/* margin-right: 15px; */
/* left: 1040px; */
/* margin-left: 75%; */
/* top: 36px; */
font-family: 'Poppins',sans-serif;
font-weight: 600;
white-space: nowrap;
color: #5856CE;
border: 1px solid #5856CE;
border-radius: 4px;
flex:1;
}
.text{
width: 115px;
height: 21px;
font-style: normal;

font-size: 14px;
line-height: 21px;
/* identical to box height */
text-transform: capitalize;

/* CTA purple */
color: #5856CE;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.try{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 10px;
/* position: absolute; */
width: 130px;
height: 45px;
/* left: 1190px; */
/* margin-left: 90%; */
/* margin-right: auto; */
/* top: 36px; */
background: #5856CE;
border-radius: 4px;
flex:1;
}
.try > div{
    width: 98px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 90px;
    max-width: 1200px;
    margin: 0;
    padding-top: 80px;
    /* margin-right: auto; */
    height: 530px;
    
}

.tagline{
    position: absolute;
    margin:0;
width: 477px;
height: 120px;
/* left: 90px;
top: 264px; */

margin-bottom: 24px;
font-family: 'Paytone One',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 60px;
/* or 130% */

letter-spacing: 0.01em;

/* Heading text */

color: #120155;
}
.tagline > span{
    color: #5856CE;
}
.tagline +p{
    
position: absolute;
width: 585px;
height: 90px;
/* left: 90px;
top: 408px; */
margin-top: 228px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.01em;

/* Sub heading text */

color: #343434;
}
.group{

    position: absolute;
    width: 527.64px; 
    height: 521px;
    left: 769px;
    /* margin-left: 50%; */
    top: 180px;
    
    /* max-width: 80%; */
 /* margin-top: 80px; */
}

.content{
    display: flex;
    margin: 0 auto; 
}
.RectOne{
position: absolute;
width: 1280px;
height: 705px;
left: 30px;
top: 781px;
margin: auto;
background: linear-gradient(180deg, rgba(235, 246, 255, 0) -12.61%, 
#EBF6FF 50.78%, rgba(235, 246, 255, 0) 114.7%);
max-width: 1300px;
}
 h2{
position: absolute ;
width: 357px;
height: 60px;
left: 537px;
/* top: 821px; */
font-family: 'Paytone One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;
/* identical to box height, or 150% */
letter-spacing: 0.01em;

color: #120155;
}
 
.content  p{
    position: absolute;
width: 655px;
height: 30px;
left: 388px;
top: 120px;

/* S1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

text-align: center;
letter-spacing: 0.01em;

/* Sub heading text */

color: #343434;
}
.small{
    display: flex;
    margin:0;
    align-items: center;
    
    margin-top: 234px;
}
.r1{
    position: absolute;
width: 383px;
height: 366px;
left: 30px;
top: 234px;

background: #FFFFFF;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
border-radius: 20px;
}
.r2{
position: absolute;
width: 383px;
height: 366px;
left: 433px;
top: 234px;
background: #FFFFFF;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
border-radius: 20px;
}
.r3{
position: absolute;
width: 383px;
height: 366px;
left: 836px;
top: 234px;

background: #FFFFFF;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
border-radius: 20px;
}
.small  img{
    position: absolute;
width: 60px;
height: 60px;
left: 24px; 
 top: 24px;
}
.small h6{
position: absolute;
margin:0;
width: 335px;
height: 60px;
left: 24px;
top: 108px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* or 150% */

letter-spacing: 0.01em;

/* Heading text */

color: #120155;
}
.small p{
    margin:0;
    position: absolute;
width: 335px;
height: 150px;
left: 24px;
top: 192px;
text-align: left;
/* S2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 188% */

letter-spacing: 0.01em;

/* Sub heading text */

color: #343434;
}
.Rectangltwo{
    position: absolute;
width: 890px;
height: 580px;
left: 276px;
top: 1566px;
max-width: 1200px;

display: flex;
}
.Rectangltwo h2{
    margin: 0;
    position: absolute;
width: 649px;
height: 60px;
left: 120px;
/* top: 1566px; */

/* H2 */
white-space: nowrap;
font-family: 'Paytone One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;
/* identical to box height, or 150% */

letter-spacing: 0.01em;
color: #120155;
}
.vec{
    position: absolute;
width: 57px;
height: 44.01px;
left: 0px;
top: 70px;
}

.Rectangltwo p{
position: absolute;
width: 585px;
height: 199px;
left: 15px;
top: 143px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 40px;
/* or 168% */
color: #120155;
}
.eye{
    position: absolute;
width: 55px;
height: 48px;
left: 0 px;
top: 330px;
margin-top: 40px;
}
.face{
    position: absolute;
width: 289px;
height: 351px;
left: 600px;
top: 77px;

}
.down{
    position: absolute;
width: 323px;
height: 22px;
left: 70px;
top: 355px;
margin-top: 40px;
/* body text */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
border-left: #000000 solid 1px;
padding-left: 12px;
color: #000000;
}

.name{
    position: absolute;
width: 114px;
height: 21.52px;
left: 70px;
top: 334px;
border-left: #000000 solid 1px;
padding-left: 12px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
margin-top: 40px;

color: #000000;
}
.left{
    
position: absolute;
width: 108px;
height: 48px;
left: 40%;
top: 490px;
padding: 15px;
/* background blue */
text-align: center;
align-content: center;
background: #EBF6FF;
border-radius: 10px;
}
 @media only screen and (max-width: 414px)
    

     { *{
         max-width: 414px;
     }
     
         main{
             max-width: 414px;
         }
         nav{
             max-width: 414px;
             margin: 0;
             padding: 0;
             
         }
         .nav--icon{
            position: absolute;
            margin:0;
            padding: 0;
            width: 128.06px;
            height: 60px;
            left: 5px;
            top: 2px;
         }
        .options{
            display: none;
            
        }
        .login {
            display: none;
        }
        .demo{
            display: none;
        }
        .try{
            
   
margin: 0px;
padding: 0;
position: absolute;
width: 130px;
height: 45px;
left:252px;

/* margin-left: 72%; */

top: 10px;
        }
        .heading{
           
           /* flex-direction: column; */
           margin:0;
           max-width: 414px;
           padding: 0;
           align-items: flex-start;
           
        }
        
        
        .tagline{
            position: absolute;
            width: 373px;
            height: 120px;
            left: 20px;
            /* top: 203px; */
            
            font-family: 'Paytone One';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height:60px;
            
            /* display: flex; */
            align-items: center;
            letter-spacing: 0.01em;
            
            margin-top: 70px;


        } 
        .tagline span{
            white-space: nowrap;
        }
        
        .tagline + p{
            max-width: 414px;
            position: absolute;
            width: 371px;
            height: 150px;
            margin-left: 22px;
            margin-top: 200px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            
        }
         .group{  
            position: absolute;
width: 410px;
height: 395px;

/* height: 60%;
    max-width: 70%; */
left: 0px;
top: 589px;




        }
        .content{
            display: flex;
            flex-direction: column;
            margin: 0 auto; 
            max-width: 414px;
        }
        .RectOne{
        position: absolute;
        max-width: 414px;
        height: 1400px;
        margin-top: 200px;
        background: linear-gradient(180deg, rgba(235, 246, 255, 0) -12.61%, 
        #EBF6FF 50.78%, rgba(235, 246, 255, 0) 114.7%);
        left: 0;
        }
         h2{
            position: absolute;
            margin:0px;
            width: 359px;
            height: 60px;
            left: 28px;
            margin-top: 0px;
            font-size: 40px;
            text-align: center;
        }
         
        .content  p{
            position: absolute;
            width: 378px;
            height: 60px;
           left: 20px;
           margin-top: 0px;
           text-align: center;
           top: 84px


        }
        .small{
            display: flex;
            margin:0;
            align-items: center;
            
            margin-top: 234px;
        }
        .r1{
            position: absolute;
width: 383px;
height: 366px;
left: 18px;
top: 194px;
        }
        .r2{
            position: absolute;
            width: 384px;
            height: 366px;
            left: 15px;
            top: 576px;
        }
        .r3{
            position: absolute;
            width: 383px;
            height: 366px;
            left: 16px;
            
        top: 960px;
        }
         .small  img{
            position: absolute;
        width: 60px;
        height: 60px;
        left: 24px; 
         top: 24px;
        }
        .small h6{
        position: absolute;
        margin:0;
        width: 335px;
        height: 60px;
        left: 24px;
        top: 108px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
      
        
        letter-spacing: 0.01em;
        
      
        
        color: #120155;
        }
        .small p{
            margin:0;
            position: absolute;
        width: 335px;
        height: 150px;
        left: 24px;
        top: 192px;
        text-align: left;
      
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
       
        
        letter-spacing: 0.01em;
        
        
        color: #343434;
        }
        .Rectangltwo{
            
            position: absolute;
            width: 396px;
            height: 775px;
            left: 3px;
            top: 2424px;
        
        display: flex;
        }
        .Rectangltwo h2{
            position: absolute;
width: 396px;
height: 75px;
left: 3px;
top: 0px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: -0.02em;
       
        
      
        white-space: nowrap;
        font-family: 'Paytone One';
        color: #120155;
        }
        .vec{
            position: absolute;
        width: 57px;
        height: 44.01px;
        left: 0px;
        top: 470px;
        }
        
        .Rectangltwo p{
            position: absolute;
            width: 380px;
            height: 162px;
            left: 16px;
            top: 520px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
       
        color: #120155;
        }
        .eye{
            position: absolute;
            width: 18.29px;
            height: 25.91px;
            left: 88.61px;
        top: 710px;
        margin-top: 150px;
        
        }
        .face{
            position: absolute;
width: 289px;
height: 351px;
left: 61px;
top: 100px;
        
        }
        .down{
            position: absolute;
            width: 171px;
            height: 22px;
            left: 152px;
        top: 725px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-top: 150px;
        border-left: #000000 solid 1px;
        padding-left: 12px;
        color: #000000;
        }
        
        .name{
            position: absolute;
            width: 171px;
            height: 22px;
            left: 152px;
        top: 704px;
        border-left: #000000 solid 1px;
        padding-left: 12px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-top: 150px;
        
        
        
        color: #000000;
        }
        .left{
            position: absolute;
width: 108px;
height: 48px;
left: 146px;
top: 1000px;
        }
    }

     /* and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 3)  */